@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif !important;
  background-image: url("assets/images/Backgorund.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.no-padding{
  padding: 0 !important;
}

.no-left-padding{
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

h1 {
  margin-top: 10px !important;
}

.col-sm-8{
  display: flex;
  justify-content: flex-end;
}

input.form-control {
  width: 300px;
  background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.5));
}

.white-card-design {
  background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.5));
  border-radius: 3px;
  -webkit-box-shadow: 17px 19px 40px -13px rgba(0,0,0,0.56);
  -moz-box-shadow: 17px 19px 40px -13px rgba(0,0,0,0.56);
  box-shadow: 17px 19px 40px -13px rgba(0,0,0,0.56);
}

input{
  outline: 0 !important;
}

.closed-button:focus,
.closed-button:active {
  outline: 0 !important;
  text-decoration: none !important;
}

.closed-button {
  color: #565656 !important;
}

.closed-button:hover {
  background: linear-gradient(to right, rgba(238,238,238,0.9), rgba(238,238,238,0.5)) !important;
  text-decoration: none !important;
}

.opened-button {
  background: linear-gradient(to right, rgba(192,159,128,0.9), rgba(192,159,128,0.5)) !important;
  color: white !important;
}

.opened-button:hover,
.opened-button:active,
.opened-button:focus {
  background: linear-gradient(to right, rgba(192,159,128,0.9), rgba(192,159,128,0.5)) !important;
  color: white !important;
  outline: 0 !important;
  text-decoration: none !important;
}

.opened-button i,
.closed-button i {
  pointer-events: none;
}

.delete-button i,
.ok-button i,
.cancel-button i,
.edit-button i{
  pointer-events: none;
  margin-left: 0 !important;
  color: #565656 !important;
}
.ok-button:hover,
.ok-button:active,
.ok-button:focus,
.cancel-button:hover,
.cancel-button:active,
.cancel-button:focus,
.delete-button:hover,
.delete-button:active,
.delete-button:focus,
.edit-button:hover,
.edit-button:active,
.edit-button:focus {
  background: linear-gradient(to right, rgba(238,238,238,0.9), rgba(238,238,238,0.5)) !important;
  outline: 0 !important;
  text-decoration: none !important;
}

.popover,
.popover-header {
  border: 0 !important;
  background: linear-gradient(to right, rgba(238,238,238,0.9), rgba(238,238,238,0.5)) !important;
}

.btn-danger {
  background: linear-gradient(to left, rgba(217,83,79,0.9), rgba(217,83,79,0.5)) !important;
}

.btn-success {
  background: linear-gradient(to right, rgba(92,184,92,0.9), rgba(92,184,92,0.5)) !important;
}

button {
  border: 0 !important;
}

.delete-button:hover i {
   color: #d9534f !important;
}

.edit-button:hover i {
  color: #428bca !important;
}

.ok-button:hover i {
  color: #5cb85c !important;
}

.cancel-button:hover i {
  color: #d9534f !important;
}

.visible{
  display: block !important;
}

.not-visible{
  display: none !important;
}

[contenteditable="true"]:focus {
  border-radius: 3px !important;
  border: 1px solid #ccc !important;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

.bs-datepicker-head, .selected {
  background-color: #c09f80 !important;
}

.bs-datepicker {
  opacity: 0.95 !important;
}

.bs-datepicker-container {
  padding: 5px !important;
  width: 300px !important;
}

.bs-datepicker {
  border-radius: 3px !important;
  border: 1px solid #eee !important;
  border-top: 0 !important;
}

ss-multiselect-dropdown {
  border-left: 0 !important;
}

ss-multiselect-dropdown .dropdown-item {
  display: block;
  padding: 5px !important;
  color: #555 !important;
}

ss-multiselect-dropdown .dropdown-toggle {
  background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.5)) !important;
}

ss-multiselect-dropdown .dropdown-item:hover,
ss-multiselect-dropdown .dropdown-item:focus,
ss-multiselect-dropdown .dropdown-item:active {
  text-decoration: none !important;
}

ss-multiselect-dropdown .dropdown-item span:focus{
  outline: 0 !important;
}

ss-multiselect-dropdown .dropdown-item .glyphicon {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

ss-multiselect-dropdown button {
  width: 300px !important;
  border: 1px solid #ccc !important;
  background-color: white !important;
  color: #555 !important;
}

ss-multiselect-dropdown button:focus, 
ss-multiselect-dropdown button:active {
  border: 1px solid #555 !important;
}

ss-multiselect-dropdown .dropdown-menu {
  width: 300px !important;
  background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.5)) !important;
}

ss-multiselect-dropdown .input-group-append{
  display: none !important;
}

ss-multiselect-dropdown .search-container {
  padding: 5px !important;
  width: 100% !important;
}

ss-multiselect-dropdown .search-container input {
  border: 1px solid #eee !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

ss-multiselect-dropdown .search-container input:focus {
  border: 1px solid #555 !important;
}

.alert-md-color {
  background-color: #f8d7da;
  border-color: #e8c9cc;
  color: #721c24;
  -webkit-box-shadow: 17px 19px 40px -13px rgba(0,0,0,0.56);
  -moz-box-shadow: 17px 19px 40px -13px rgba(0,0,0,0.56);
  box-shadow: 17px 19px 40px -13px rgba(0,0,0,0.56);
}

ss-multiselect-dropdown .empty {
  text-align: center !important;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
