<div class='main-nav'>
  <div class='navbar white-card-design'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]="['/home']">Project<sub>Manager</sub></a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/employees']">
            <span class='glyphicon glyphicon-user'></span> Employees
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/projects']">
            <span class="glyphicon glyphicon-equalizer"></span> Projects
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
