<app-new-project></app-new-project>

<div id="project-wrapper" class="row white-card-design project-wrapper">
  <div class="row form-row" style="display: flex; align-items: center;">
    <div class="col-lg-4">
      <h1>Projects</h1>
    </div>
    <div class="col-lg-8" style="display: flex; justify-content: flex-end; padding-right: 30px;">
      <input type="text" (input)="search($event)" placeholder="Search..." class="form-control" style="width: 200px" />
    </div>
  </div>

  <p *ngIf="!projectService.projectsToSearch"><em style="margin-left: 25px;">Loading...</em></p>

  <div id="accordion" *ngFor="let item of projectService.projectsToSearch">
    <div class="card">
      <div class="card-header" id="Heading{{item.id}}">
        <h5 class="mb-0" id="{{item.id}}">
          <button id="collapse-button" name="{{item.id}}" [ngClass]="['closed-button','btn', 'btn-link']" (click)="openCard($event)" aria-expanded="false" data-toggle="collapse" attr.data-target="#Collapse{{item.id}}" attr.aria-controls="Collapse{{item.id}}">
            {{item.name}}<i class='glyphicon glyphicon-menu-down'></i>
          </button>
          <button id="{{item.id}}"
                  [ngClass]="['delete-button', 'pull-right', 'btn', 'btn-link']"
                  (click)="setElementToDelete($event)"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="right"
                  (confirm)="deleteCard()">
            <i id="{{item.id}}" class='glyphicon glyphicon-trash'></i>
          </button>
          <button id="edit-button" [ngClass]="['visible','edit-button', 'pull-right', 'btn', 'btn-link']" (click)="editCard($event)">
            <i class='glyphicon glyphicon-pencil'></i>
          </button>
          <button id="cancel-button" (click)="discardChanges($event)" [ngClass]="['not-visible','cancel-button', 'pull-right', 'btn', 'btn-link']">
            <i class='glyphicon glyphicon-remove'></i>
          </button>
          <button id="ok-button" (click)="saveChanges($event)" [ngClass]="['not-visible','ok-button', 'pull-right', 'btn', 'btn-link']">
            <i class='glyphicon glyphicon-ok'></i>
          </button>
        </h5>
      </div>

      <div id="Collapse{{item.id}}" class="collapse" attr.aria-labelledby="Heading{{item.id}}" attr.data-parent="#accordion">
        <div class="card-body card-body-grey" id="{{item.id}}" (click)="setProjectToEdit($event)">
          <div class="row">
            <div class="col-sm-3">
              <h5>Name: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #name name="input-field" (blur)="item.name=name.innerText">{{item.name}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Company: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #company name="input-field" (blur)="item.company=company.innerText">{{item.company}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Project leader: </h5>
            </div>
            <div class="col-sm-6" id="project-leader">
              <h4 name="input-field">{{item.projectLeader.name}}</h4>
            </div>
            <div class="col-sm-6" id="project-leader-options" style="display:none;">
              <ss-multiselect-dropdown id="skills" required [options]="projectLeaderOptions" [texts]="myTexts" [settings]="projectLeadersettings" [(ngModel)]="projectLeader" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Risk: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #risk name="input-field" (blur)="item.risk=risk.innerText">{{item.risk}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Weeks: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #numberOfWeeks name="input-field" (blur)="item.numberOfWeeks=numberOfWeeks.innerText">{{item.numberOfWeeks}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Planned hours: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #plannedHours name="input-field" (blur)="item.plannedHours=plannedHours.innerText">{{item.plannedHours}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Current hours: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #currentHours name="input-field" (blur)="item.currentHours=currentHours.innerText">{{item.currentHours}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Start: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #startDate name="input-field" (blur)="item.startDate=startDate.innerText">{{item.startDate | date: 'yyyy.MM.dd'}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>End: </h5>
            </div>
            <div class="col-sm-6">
              <h4 #dueDate name="input-field" (blur)="item.dueDate=dueDate.innerText">{{item.dueDate | date: 'yyyy.MM.dd'}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5>Skills: </h5>
            </div>
            <div *ngIf="item.skills?.length == 0" id="skills-no-added">
              <div class="col-sm-6">
                <h4>There are no skills added.</h4>
              </div>
            </div>
            <div *ngFor="let skill of item.skills; let i = index" id="skill-list">
              <div *ngIf="i == 0" class="col-sm-6">
                <h4>{{skill.name}}</h4>
              </div>
              <div *ngIf="i > 0" class="col-sm-offset-3 col-sm-6">
                <h4>{{skill.name}}</h4>
              </div>
            </div>
            <div class="col-sm-6" id="edit-skills" style="display:none;">
              <ss-multiselect-dropdown id="skills" required [options]="this.skillService.skills" (input)="searchInput($event)" [texts]="skillsText" [settings]="mySettings" [(ngModel)]="optionsModel" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
