.employee-wrapper {
  margin-top: 25px;
  margin-right: 10px;
  padding: 15px 0;
  width: 60%;
  margin-bottom: 25px;
}

.employee-wrapper h1 {
  padding-left: 15px;
}

.card-header {
  margin-left: 15px;
  margin-right: 15px;
}

.card-header button {
  border-radius: 3px;
}

.card-body h4:first-child,
.card-body h5:first-child {
  margin-top: 0;
}

.card-body h4 {
  font-weight: bolder;
  padding-left: 10px;
  border: 1px solid transparent;
  padding-right: 10px;
  margin-bottom: 0;
}

.card-body h4,
.card-body h5 {
  margin-bottom: 2px;
  line-height: 30px;
  display: inline-block;
}

.card-body {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  padding: 15px;
}

.card-body-grey {
  background: linear-gradient(to right, rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.5));
}

.card-header .glyphicon {
  margin-left: 5px;
}
