<div [style.border-bottom-left-radius]="bottomBorderRadius" [style.border-bottom-right-radius]="bottomBorderRadius" class="row white-card-design card-opener-button-row">
  <div class="card-header">
    <h5 class="mb-0">
      <button [ngClass]="['closed-button','btn', 'btn-link']" (click)="openCard($event)" id="button" data-toggle="collapse" data-target="#CollapseNewProject" aria-expanded="true" aria-controls="CollapseNewProject">
        New Project<i class='glyphicon glyphicon-plus'></i>
      </button>
    </h5>
  </div>
</div>

<div [style.border-top-left-radius]="bottomBorderRadius" class="row white-card-design new-project-wrapper">
  <div id="new-project-accordion">
    <div class="card">
      <div id="CollapseNewProject" class="collapse" aria-labelledby="HeadingNewProject" data-parent="#new-project-accordion">
        <div class="card-body new-project-card-body" style="width: 100%;">
          <div class="new-project-form-wrapper" style="width: 100%;">
            <form (ngSubmit)="onSubmit()" #newProjectForm="ngForm" id="new-project-form" style="width: 100%; padding-right: 30px">
              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="name">Name</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Write here...">
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="company">Company</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="company" required [(ngModel)]="model.company" name="company" #name="ngModel" placeholder="Write here...">
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="risk">Risk</label>
                </div>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="risk" required [(ngModel)]="model.risk" name="risk" #name="ngModel" placeholder="Write here...">
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="plannedHours">Planned hours</label>
                </div>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="plannedHours" required [(ngModel)]="model.plannedHours" name="plannedHours" #name="ngModel" placeholder="Write here...">
                </div>
              </div>


              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="startDate">Start date</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control"
                         id="startDate"
                         placeholder="Click for input date..."
                         autocomplete="off"
                         [(ngModel)]="model.startDate"
                         name="startDate"
                         #name="ngModel"
                         [bsConfig]="datePickerConfig"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         (bsValueChange)="onMinValueChange($event)"
                         bsDatepicker
                         required />
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="duedate">Due date</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control"
                         id="duedate"
                         #dueDate
                         placeholder="Click for input date..."
                         autocomplete="off"
                         [(ngModel)]="model.dueDate"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         name="dueDate"
                         #name="ngModel"
                         (bsValueChange)="onMaxValueChange($event)"
                         [bsConfig]="datePickerConfig"
                         bsDatepicker
                         required />
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="projleader">Project leader</label>
                </div>
                <div class="col-sm-8">
                  <ss-multiselect-dropdown id="projleader" required [options]="projectLeaderOptions" [texts]="projectLeaderText" [settings]="projectLeadersettings" [(ngModel)]="projectLeader" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-4">
                  <label for="skills">Skills</label>
                </div>
                <div class="col-sm-8">
                  <ss-multiselect-dropdown id="skills" required [options]="this.skillService.skills" (input)="searchInput($event)" [texts]="skillsText" [settings]="mySettings" [(ngModel)]="optionsModel" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="submit-row">
          <div class="row text-right">
            <div class="col-sm-12" style="padding-right: 30px;">
              <input type="submit" value="Create Project" form="new-project-form" class="btn opened-button" [disabled]="!newProjectForm.form.valid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
