<div [style.border-bottom-left-radius]="bottomBorderRadius" [style.border-bottom-right-radius]="bottomBorderRadius" class="row white-card-design card-opener-button-row">
  <div class="card-header">
    <h5 class="mb-0">
      <button [ngClass]="['closed-button','btn', 'btn-link']" (click)="openCard($event)" id="button" data-toggle="collapse" data-target="#CollapseNewProject" aria-expanded="true" aria-controls="CollapseNewProject">
        New Project<i class='glyphicon glyphicon-plus'></i>
      </button>
    </h5>
  </div>
</div>

<div [style.border-top-left-radius]="bottomBorderRadius" class="row white-card-design new-project-wrapper">
  <div id="new-project-accordion">
    <div class="card">
      <div id="CollapseNewProject" class="collapse" aria-labelledby="HeadingNewProject" data-parent="#new-project-accordion">
        <div class="card-body new-project-card-body">
          <div class="new-project-form-wrapper">
            <form (ngSubmit)="onSubmit()" #newProjectForm="ngForm" id="new-project-form">
              <div class="row form-row row-eq-height">
                <div class="col-sm-3">
                  <label for="name">Name</label>
                </div>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-3">
                  <label for="name">Company</label>
                </div>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="company" required [(ngModel)]="model.company" name="company" #name="ngModel">
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-3">
                  <label for="name">Risk</label>
                </div>
                <div class="col-sm-7">
                  <input type="number" class="form-control" id="risk" required [(ngModel)]="model.risk" name="risk" #name="ngModel">
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-3">
                  <label for="name">Planned hours</label>
                </div>
                <div class="col-sm-7">
                  <input type="number" class="form-control" id="plannedHours" required [(ngModel)]="model.plannedHours" name="plannedHours" #name="ngModel">
                </div>
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-3">
                  <label for="name">Start date</label>
                </div>
                <div class="col-sm-7">
                  <input class="form-control"
                         id="startDate"
                         placeholder="éééé-hh-nn"
                         autocomplete="off"
                         [(ngModel)]="model.startDate"
                         name="startDate"
                         #name="ngModel"
                         [bsConfig]="datePickerConfig"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         (bsValueChange)="onMinValueChange($event)"
                         bsDatepicker
                         required/>                 
                </div>  
              </div>

              <div class="row form-row row-eq-height">
                <div class="col-sm-3">
                  <label for="name">Due date</label>
                </div>
                <div class="col-sm-7">
                  <input class="form-control"
                         #dueDate
                         placeholder="éééé-hh-nn"
                         autocomplete="off"
                         [(ngModel)]="model.dueDate"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         name="dueDate"
                         #name="ngModel"
                         (bsValueChange)="onMaxValueChange($event)"
                         [bsConfig]="datePickerConfig"
                         bsDatepicker
                         required />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="submit-row">
          <div class="row text-right">
            <div class="col-sm-12">
              <input type="submit" value="Create Project" form="new-project-form" class="btn opened-button" [disabled]="!newProjectForm.form.valid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
