.new-project-wrapper {
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.form-row label {
  line-height: 34px;
  width: 100%;
}

.card-opener-button-row {
  width: fit-content;
  margin-top: 25px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.75));
}

.new-project-wrapper {
  margin-top: 0 !important;
  width: 60%;
}

.new-project-card-body {
  margin-top: 10px;
}

.card-body {
  width: 60%;
}

.form-row input:active,
.form-row input:focus {
  outline: 0;
  border-color: #565656;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #d9534f;
}

.ng-invalid:not(form):focus,
.ng-valid[required]:focus,
.ng-valid.required:focus {
  border-left: 5px solid #c09f80 !important;
}

.submit-row {
  padding-right: 15px;
  padding-bottom: 10px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.new-project-form-wrapper .col-sm-7{
  width: 330px !important;
}
